.buttonsWrapper {
  display: flex;
  button {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 2rem 5rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    cursor: pointer;
    margin: 1rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
.codeEditor {
  flex: 1;
  width: 100%;
  max-width: 900px;
  display: flex;
  height: 80vh;
  max-height: 900px;
  flex-direction: column;
}
