.App {
  min-height: 100vh;
  background-color: var(--primary);
  transition: background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.lightTheme {
  --primary: #edeeff;
  --secondary: #8792e8;
  --text: var(--black);
}

.header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.headerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  transition: color 0.2s ease-in-out;
  h1 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.1em;
    border-radius: var(--radius);
    padding: 0 1rem;
    background-color: var(--secondary);
    border: 2px solid var(--black);
    text-align: center;
  }
  p {
    font-size: 1.6rem;
    margin-top: 1rem;

    strong {
      border-radius: var(--radius);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 0 1rem;
      background-color: var(--secondary);
      border: 2px solid var(--black);
    }

    @media screen and (max-width: 750px) {
      display: none;
    }
  }
}
.toggleThemeButton {
  position: absolute;
  right: 2rem;

  button {
    border-radius: var(--radius);
    color: var(--text);
    background: none;
    border: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    cursor: pointer;
    margin: 1rem;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border: 2px solid var(--black);

    &:hover {
      background-color: var(--secondary);
    }
  }

  @media screen and (max-width: 750px) {
    position: unset;
  }
}

.main {
  display: flex;
  padding: 2rem;
  justify-content: center;
  margin: auto 0;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.menuWrapper {
  padding: 0 2rem;
  @media screen and (max-width: 1300px) {
    padding: 0 1rem;
  }
  width: 14%;
  @media screen and (max-width: 1700px) {
    width: 16%;
  }
  @media screen and (max-width: 1400px) {
    width: 18%;
  }
  @media screen and (max-width: 1100px) {
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin: 1rem 0;
  }
}

.convertButton {
  color: var(--text);
  background: none;
  border: none;
  padding: 2rem 3rem;
  @media screen and (max-width: 1300px) {
    padding: 1rem 2rem;
  }
  border-radius: var(--radius);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: 2px solid var(--black);
  display: flex;
  align-items: center;

  svg {
    margin-right: 1rem;
    fill: var(--text);
    transition: fill 0.2s ease-in-out;
  }

  &:hover {
    background-color: var(--secondary);
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 4rem;

  p {
    color: var(--text);
    font-size: 1.6rem;
    margin: 1rem;
    transition: color 0.2s ease-in-out;

    a {
      color: var(--text);
      font-weight: bold;
      text-decoration: none;
      letter-spacing: 0.1em;
      padding: 0.5rem 1rem;
      border: 2px solid var(--black);
      background-color: var(--primary);
      transition: background-color 0.2s ease-in-out;
      border-radius: var(--radius);

      &:hover {
        &:hover {
          background-color: var(--secondary);
        }
      }
    }
  }
}

.optionsButton {
  border-radius: var(--radius);
  color: var(--text);
  background: none;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: 2px solid var(--black);
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--secondary);
  }

  svg {
    margin-right: 1rem;
    fill: var(--text);
    transition: fill 0.2s ease-in-out;
  }
}
