.App {
  min-height: 100vh;
  background-color: var(--cobaltDarkBlue);
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
}
