.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 4rem;

  p {
    color: var(--text);
    font-size: 1.6rem;
    margin: 1rem;
    transition: color 0.2s ease-in-out;

    a {
      color: var(--text);
      font-weight: bold;
      text-decoration: none;
      letter-spacing: 0.1em;
      padding: 0.5rem 1rem;
      border: 2px solid var(--black);
      background-color: var(--primary);
      transition: background-color 0.2s ease-in-out;
      border-radius: var(--radius);

      &:hover {
        background-color: var(--secondary);
      }
    }
  }
}
