*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

:root {
  --gray: #6f6f6f;
  --darkGray: #444444;
  --black: #1e1e1e;
  --green: #00c896;
  --darkGreen: #1f725d;
}
