*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", "DejaVu Sans", "Verdana", sans-serif;

  @media (max-width: 1100px) {
    font-size: 50%;
  }

  @media (max-width: 400px) {
    font-size: 42%;
  }
}

button,
input {
  font-family: "Montserrat", "DejaVu Sans", "Verdana", sans-serif;
}

:root {
  --gray: #6f6f6f;
  --darkGray: #444444;
  --black: #1e1e1e;
  --primary: #6472c4;
  --secondary: #4f60b0;
  --text: white;
  --radius: 10px;
}

body.lightTheme {
  --primary: #edeeff;
  --secondary: #8792e8;
  --text: var(--black);
}
